body {
  text-align: center;
  background-color: darkslategrey;
}

.h3 {
  font-family: 'Megrim', cursive;
  color: darkslateblue;
  background-color: white;
  height: 30px;
  padding: 10px;

}

.h1 {
  font-family: 'Megrim', cursive;
  color: azure;
  font-size: 50px;
}